{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}marriage School meet_events details{% endblock %}
{% block main %}
<div class="container mt-2">
    <!-- breadcrumb -->
    <div class="event">
        <div class="mx-auto wow bounceInUp rounded-1" 
            style="background-image: url('{% static "img/heroAccount-13.png" %}');background-size: cover; background-position: center center; background-repeat: no-repeat; " alt="Church-at" data-wow-delay="0.1s">
            <div class="container py-3 mt-0 ">
                <div class="animated bounceInDown small">
                    <ol class="breadcrumb justify-content-start mb-0 animated bounceInDown small">
                        <li class=""><a href="{% url 'pages:homepage' %}">Home<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:marriageSchool_welcome' %}">marriageSchool<span class="px-1">\</span></a></li>
                        <li class=""><a href="{% url 'marriage:meet_event_list' %}">meetEventList<span class="px-1">\</span></a></li>
                        <li class="" aria-current="page">MeetEventsDetail</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb Start -->
            <div class="text-center text-primary py-1">
                <h1 class="mb-2 text-light fs-4">Meet Events Details</h1>
                <p class="small">congrate! Completion of the Courses is the big success.</p>
                <p class="small">Now select the meetEvenet to signup from the given list and attaining the event to be cirtified for your marriage courses</p>
            </div>
        </div>
    </div>
    
    <!-- Upcoming Meet Events -->
    <div class="container mt-5">
    {% if meet_event %}
         <!-- messages Meet Events -->
        {% comment %} {% if messages %}
        <div class="border-primary p-2">
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %} {% endcomment %}
        
        <h1 class="mb-2 fs-3">{{ meet_event.meet_type }} Details</h1>
        <hr>
        <div class="card border-primary shadow">
            <div class="card-body mx-1">
                <div class="d-flex justify-content-between px-2">
                    <h6 class="card-title small">Held By: {{ meet_event.held_by }}</h6>
                    <i class="fas fa-chess-king fa-1x text-primary"></i>
                </div>
                <hr>
                <ul class="list-group text-secondary small">
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Speaker :</strong>
                      <span>{{ meet_event.speaker }}</span>
                    </li>
                    
                    {% if meet_event.special_guest %}
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Special Guest :</strong>
                      <span>{{ meet_event.special_guest }}</span>
                    </li>
                    {% endif %}
                    
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Date and Time :</strong>
                      <span>{{ meet_event.date_and_time|date:"M d, Y H:i" }}</span>
                    </li>
                    
                    {% if meet_event.location %}
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Location :</strong>
                      <span>{{ meet_event.location }}</span>
                    </li>
                    {% endif %}
                    
                    {% if meet_event.webinar_link %}
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Webinar Link :</strong>
                      <span><a href="{{ meet_event.webinar_link }}">Join Webinar</a></span>
                    </li>
                    {% endif %}
                    
                    {% if meet_event.webinar_password %}
                    <li class="list-group-item d-flex justify-content-start align-items-center gap-2 small">
                      <strong>Webinar Password :</strong>
                      <span>{{ meet_event.webinar_password }}</span>
                    </li>
                    {% endif %}
                </ul>
                
                <div class="gap-2 mx-auto py-2">
                    {% if meet_event.user.id == user.id %}
                    <a 
                    href="{% url 'marriage:canceled_for_event' meet_event.slug %}" 
                    class="btn btn-sm btn-primary px-4 py-2 rounded-pill" 
                    onclick="return confirm('Are you sure you want to cancel your registration?');">
                    Hi {{user.username}}, you are already signed : click to cancel_the_event for meetEvent
                    </a>
                    {% else %}
                    <a href="{% url 'marriage:signup_for_event' meet_event.slug %}" class="btn btn-sm btn-primary px-4 py-2 rounded-pill">sign up for meetEvent</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
       
        {% endif %}
    </div>
</div>
{% endblock %}